*.log
.github/*
Dockerfile
Dockerfile.base
LICENSE
run.sh
*.code-workspace
.devcontainer/*
.pytest_cache/*
*/__pycache__/*
docs/build/*

.bash_history
.cache/*
.config/*

.git/*
.gitconfig
.gitignore
.gnupg/*
.ipython/*
.local/*
.python_history
.ssh/*
.vscode-server/*